/* GENERAL USE */
.container-fluid {
    padding: 0px;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}
.gi-2x{
    font-size: 2em;
}
.center{
    margin: 0 auto;
}
.admin {
    text-align: center;
    font-size: 2em;
    line-height: calc(99vw / 12);
}
.admin a{
    text-decoration:none;
}
.no_roll a{
    text-decoration: none;
}


/* MAIN IMAGE SECTION */
.full {
    background: url(../IMG/Main.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    text-align: center;
}
.hello{
    color: white;
    font-size: 5em;
    font-family: 'Montserrat', sans-serif;
    background: none;
    position:absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35vh;
    line-height: 1em;
}
.hello div{
    font-size: 60%;
    color: #eee;
}
.see_more{
    position:absolute;
    top:100vh;
    transform:translateY(-120%);
    width:100%;
    text-align: center;
    color: white;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
}
.see_more .type_it_message{
    color: rgba(255,255,255,0.7);
}
.see_more .type_it_message:hover{
    color: rgba(255,255,255,1);
}

/* ABOUT SECTION */
.filler{
    height: 2px;
    width: 100%;
    background-color: white;
}
.quote{
    background-color: #4484CE;
}
.about_text{
    color: white;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 2em;
    padding-top: 2em;
    text-align: center;
    font-size: 1.25em;
    max-width: 1200px;
}

/* PROJECT SECTION */
.main_projects{
    background-color: #eee;
    min-height: 300px;
}
.project{
    width: 90%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.32);
    margin-top: 2em;
    margin-bottom: 2em;
}
.project:hover{
    box-shadow: 0 4px 4px rgba(0,0,0,0.32);
    cursor: pointer;
}
.project_image{
    background-color: white;
    text-align: center;
    min-height: 300px;
    padding-top: 5em;
    padding-bottom: 5em;
}
.project_image img{
    width: 11em;
    height: 11em;
}
.project_details{
    background-color: white;
    text-align: center;
    padding: .20em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: bolder;
    color: #4f4e4e;
    text-decoration: none;
}
.project_skill {
    border: 1px solid #50a9d1;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 500;
    width: auto;
    display: inline-block;
    font-size: .75em;
    line-height: 1.10em;
    padding: 2px 4px;
    margin-top: 0.8em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}
.project_skill:hover {
    text-decoration: none;
}

/* CONNECT or SOCIAL MEDIA SECTION */
.connect{
    text-align: center;
    color: #cf6766;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.4em;
    margin-top: 1em;
}
.social{
    width: 80%;
    max-width: 60vw;
    background-color: white;
    border-width: 2px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-style: solid;
    border-color: #444444;
    text-align: center;
}
.social:hover{
    border-color: #cf6766;
}
.social img {
    width: 80%;
    padding: 10px;
}

/* CONTACT SECTION */
.contact_main{
    background-color: #313439;
    text-align: center;
    padding-top: 1em;
}
.contact_title{
    color: white;
    font-size: 2.7em;
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
}
.glyphicon-envelope{
  color: #bc3441;
  font-size: 1.3em;
}
.form_labels{
    color: #888a8c;
    float: left;
    text-align: left;
    font-family: "open sans Condensed";
    font-weight: bold;
}
.contact_me input[type=text], textarea {
    width: 100%;
    background: none;
    color: white;
    font-size: 1.45em;
    border: none;

    border-bottom: 2px solid #888a8c;
    margin-bottom: 1.5em;
}
.contact_me textarea{
    margin-top: 2px;
    border: 2px solid #888a8c;
}
.contact_me input[type=text]:focus, textarea:focus{
    outline: none;
    border-color: #cf6766;
}
.contact_me input[type=submit] {
    border: 0;
    background-color: #d84e5b;
    color: white;
    font-size: 1.45em;
    padding-top: .35em;
    padding-bottom: .35em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1.5em;
}
.contact_me input[type=submit]:hover {
    background-color: #bc3441;
}

/* INTERESTS SECTION */
.interests{
    background-color: #969696;
    text-align: center;
    color: white;
    padding-top: .3em;
    padding-bottom: .1em;
    font-family: 'Questrial', sans-serif;
    font-size: 2em;
}
.grid {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fill, calc(100%/12));
    margin-bottom: 3em;
}
.grid div {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55% 61%;
    outline: 2px solid;
    outline-color: white;
    height: calc(99vw / 12);
}
.grid div:hover {
    background-color: #dddddd;
    background-size: 56% 62%;
}

/* FOOTER SECTION */
.footer{
    background-color: #2A3A3F;
    height: 20vh;
}
.footer img{
    height: 15vh;
    margin: auto;
    display: block;
    margin-top: 2.5vh;
}

/* MEDIA QUERIES FOR GRID */
/* Medium */
@media(min-width:992px) and (max-width:1199px){
    .grid {
        grid-template-columns: repeat(auto-fill, calc(100%/6));
    }
    .grid div {
        height: calc(99vw / 6);
    }
}
/* Small */
@media(min-width:768px) and (max-width:991px){
    .grid {
        grid-template-columns: repeat(auto-fill, calc(100%/4));
    }
    .grid div {
        height: calc(99vw / 4);
    }
}
/* Extra Small */
@media(max-width:767px){
    .grid {
        grid-template-columns: repeat(auto-fill, calc(100%/3));
    }
    .grid div {
        height: calc(99vw / 3);
    }
}
