/* GENERAL USE */
.container-fluid {
    padding: 0px;
}
.row{
margin-left: 0px;
margin-right: 0px;
}
.gi-2x{
  font-size: 2em;
}
.center{
    margin: 0 auto;
}

/* MAIN IMAGE SECTION */
.full {
  background: url(../IMG/Main.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
.see_more{
  position:absolute;
  top:100vh;
  transform:translateY(-120%);
  width:100%;
  text-align: center;
  color: white;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}
.see_more .message{
  color: rgba(255,255,255,0.7);
}
.see_more .message:hover{
  color: rgba(255,255,255,1);
}

/* ABOUT SECTION */
.filler{
  height: 2px;
  width: 100%;
  background-color: white;
}
.about_text{
  color: white;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 2em;
  padding-top: 2em;
  text-align: center;
  font-size: 1.25em;
  max-width: 1200px;
}
.quote{
  background-color: #092A32;
}

/* PROJECT SECTION */
.main_projects{
  background-color: #eee;
  min-height: 300px;
}
.project{
  width: 90%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.32);
  margin-top: 2em;
  margin-bottom: 2em;
}
.project:hover{
    box-shadow: 0 2px 4px rgba(0,0,0,0.32);
    cursor: pointer;
}
.project_image{
  background-color: white;
  text-align: center;
  min-height: 300px;
  padding-top: 5em;
  padding-bottom: 5em;
}
.project_image img{
  width: 11em;
  height: 11em;
}
.project_details{
  background-color: white;
  text-align: center;
  padding: .20em;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: bolder;
  color: #4f4e4e;
}

/* CONTACT SECTION */
